{{ header }}
<div class="page">
	
	
	<!-- Search and page links for the page -->
	{% if portal.current_tab and portal.current_tab == "home" %}
		<section class="help-center rounded-6">	
			<div class="hc-search">
				<div class="hc-search-c">
					<h2 class="heading hide-in-mobile">{% translate header.help_center %}</h2>
					{% snippet search_form %}
				</div>
			</div>
			<div class="hc-nav {% if portal.contact_info %} nav-with-contact {% endif %}">				
				{{ portal | helpcenter_navigation }}
			</div>
		</section>
	{% endif %}

	<!-- Notification Messages -->
	{{ page_message }}


	{% if portal.current_page != "user_signup" and portal.current_page != "submit_ticket" %}
	<div class="c-wrapper">		
		{{ content_for_layout }}
	</div>
	{% elsif portal.current_page == "submit_ticket" %}
	<div class="c-wrapper">		
		<div class="new_ticket_page">
		{{ content_for_layout }}
		</div>
	</div>
	{% else %}
	<div class="signup-page">
	<div class="signup-wrapper">
	{{ content_for_layout }}
	</div>
	</div>
	{% endif %}

	

</div>
{{ footer }}

<script>
	/*---------------DA CUSTOMISATION-------------------*/
	jQuery(document).ready(function () {
	  jQuery('.control-group').each(function(i, element){
		let label = jQuery(element).find('label');
		let control = jQuery(element).find('input, textarea, select');
	
		if(jQuery(control[0]).is('[id]')){
		  label.prop('for', control[0].id);
		}
	  });
	
	  jQuery('a[href="javascript:void(null);"], a[href="#"]').each(function(i, el){
		  jQuery(el).removeAttr('href');
	  });

	  jQuery('img[alt="Logo"]').attr('alt', 'elfh logo');

	  jQuery('img[title="NHS HEE"]').attr('alt', 'NHS HEE logo');

	  jQuery('#ticket_file').prev().empty().append(jQuery('<label>', {'for': 'ticket_file', 'text':'+ Attach a file'}));
	
	});
	
	</script>